# TypeScript stuff
js
src/**/*.js
src/**/*.js.map

# npm
node_modules
npm-debug.log

# TypeScript Definitions
typings

# test files
/test/**/*.js
/test/**/*.js.map
/test/**/*.spec.js
/test/**/*.spec.js.map
/coverage

#site files
/site/css
/site/js
/site/nine-tails
