# TypeScript stuff
js
dist
src/**/*.js
src/**/*.js.map
src/**/*.d.ts

# npm
node_modules
npm-debug.log

# TypeScript Definitions
typings

# test files
/test/**/*.js
/test/**/*.js.map
/test/**/*.spec.js
/test/**/*.spec.js.map
/coverage

#site files
/site/css
/site/js
/site/nine-tails
